body{
  font-family: 'Raleway', sans-serif;
}

.App {
  text-align: left;
  margin-left: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#title-head{
text-align: center;
}

.row-controller{
  margin-bottom: 20px;
}

.student-image{
  border: 1px solid black;
  border-radius: 110px;
  width: 100px;
}
.grades-controller{
  padding-left: 14px;
}
.grades-controller li{
  list-style: none;
}

.flex-div{
  display: flex;
  flex-direction: row;
}

.tag-control{
  background-color: #282c34;
  color: white;
  margin: 5px;
padding: 5px ;
border-radius: 4px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
